.benefits__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;   
    }
    }


.benefits__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.benefits__item {
    text-align: left;

    &:last-child {
            margin-right: 0px;
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
}
@media screen and (max-width: 767px) {
                .benefits__item:not(last-child) {
                    margin-bottom: 30px;
                }
            }

.benefits__desc {
    font-size: 14px;
    line-height: 1.71;
}

.benefits__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--light-background-color);

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
}

.benefit__icon {
    width: 70px;
    height: 70px;
}