.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
font-size: 24px;
line-height: 1.17;
        }
}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: var(--brand-color-black);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 87px;
    }
}

.footer__logo {
    color: var(--white-color);
}

.logo>.color {
    color: var(--brand-color-blue);
}