.footer__socials {
    margin-left: 70px;


@media screen and (max-width: 767px) {
        margin-left: 0;
        text-align: center;
        margin-bottom: 60px;
    }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0;
        text-align: center;
        }
}


.socials__call {
    font: var(--main-font);
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.socials__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: var(--brand-color-blue);
        }
}

.socials__icon {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
}

